body {
  font-family: "Nurito", sans-serif;
  margin: 0px;
  letter-spacing: 3px;
}
/*header navigation*/
h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  text-align: center;
  font-size: 25px;
  background: url("/assets/images/bg1.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 75px;
}
.nav_link {
  display: inline-block;
  padding: 0 65px;
}
.ph1 {
  padding: 0 45px;
  margin-top: -30px;
}
.header_center {
  color: #fff;
  font-size: 25px;
}
.btn {
  margin-top: 30px;

  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  height: 50px;
  width: 165px;
  background-color: #16a085;
  padding: 20px 35px;
  border: 0px;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
  color: #16a085;
  background-color: #fff;
  transition: background 0.1s linear, color 0.1s;
}

.links {
  bottom: 25px;
  align-content: center;
  color: #fff;
}
.links i {
  padding: 25px 5px;
}
/*Section*/
.section {
  height: 100vh;
  width: 100%;
}
.second {
  display: flex;
  flex-direction: column;
  margin: 100px 0 90px 130px;

  align-content: space-around;
}
.second_title {
  font-weight: 700;
  font-size: 22px;
  color: #16a085;
  text-transform: uppercase;
}
