* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0;
}
.section {
  width: 100%;
}
body {
  font-family: "Pangolin", cursive;
  margin: 0px;
  letter-spacing: 3px;
}
/*header navigation*/
h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  text-align: center;
  font-size: 25px;
  background: url("/assets/images/bg1.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 75px;
}
.nav_link {
  display: inline-block;
  padding: 0 65px;
  color: #fff;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
}
.ph1 {
  padding: 0 45px;
  margin-top: -30px;
}
.header_center {
  color: #fff;
  font-size: 25px;
}
/* Button*/
.btn {
  margin-top: 30px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  background-color: #16a085;
  padding: 20px 35px;
  border: 0px;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
  color: #16a085;
  background-color: #fff;
  transition: background 0.1s linear, color 0.1s;
}

.links {
  bottom: 25px;
  align-content: center;
  color: #fff;
}
.links i {
  padding: 25px 5px;
}
/*Section second*/

.second {
  display: flex;
  flex-direction: column;
  background: url("/assets/images/second_bg.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
/* Адаптивка для устройств*/
@media screen and (max-width: 1024px) {
  .nav {
    flex-direction: column;
    margin-top: 0px;
  }

  .ph1 {
    margin-top: 0;
  }
}
.content_second {
  width: 65%;
  padding: 130px 0 110px 330px;
}

.content_second h2 {
  font-weight: 700;
  font-size: 22px;
  color: #16a085;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content_second p {
  font-weight: 400;
  font-size: 14px;
  padding: 20px 0 15px 0;
}

/*End of Second section */

/*Design section*/
.design {
  background-color: #fff;
}
.content_design {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 145px 330px 0 330px;
  width: 100%;
}
.content_design p {
  font-weight: 400;
  font-size: 14px;
  padding: 20px 0 15px 0;
}
.design_title {
  font-weight: 700;
  font-size: 22px;
  color: #16a085;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.phone {
  padding-right: 430px;
}
.design_num {
  padding-top: 10px;
}

.arrows {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.arrows:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(-135deg);
}
.arrows:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}
/*End of third DESIGN section*/
.community{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  background-color: #f5f6f7;
}
.community_content{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
 align-items: center;
 margin: 120px;
 

}